

@using aspbasic.service.poco;

@{

    var result = (ImportResult)@ViewData["UploadResult"];
}


<h1>Upload Result</h1>


   @if(result.isFatalError){
        <h2 class="text-danger">A fatal error occurred while processing your request.</h2>
   }else {
        <h2>Imported @result.imported </h2>
        <h2>Skipped @result.skipped </h2>
            
   }

   @*
    Outside of fatal because we can get errors on certain rows that are not fatal 
   *@
   @if(!String.IsNullOrEmpty(result.errorText)){
      <h2>Errors that occurred: </h2>
      <h3 class="text-danger">@result.errorText </h3>
   }
